:root {
  --scroll: -550vh;
}

body {
  background-color: white;
  border-style: none;
  font-family: Sans-serif;
  font-weight: bold;
  margin: 0;
}

@keyframes anim {
  0% {top: 8vh;}
  5% {top: 8vh;}
  45% {top: var(--scroll);}
  55% {top: var(--scroll);}
  95% {top: 8vh;}
  100% {top: 8vh;}
}

@keyframes animpodio {
  0% {opacity: 100%;} 
  80% {opacity: 100%;}
  100% {opacity: 0%;}
}

@keyframes animpodioline {
  0% {left: 100vw;} 
  80% {left: 0;}
  100% {left: 0;}
}

@keyframes anima {
  0% {top: 0;}
  100% {top: 500px;}
}

div{
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}

.spa{
  height: 30vh;
}

.m{
  font-size: min(6.5vh, 3.5vw);
}

.d{
  font-size: min(1.8vh, 0.8vw);
}

.circ{
  position: absolute;
  box-shadow: 10px 10px 10px;
  border-radius: 50%;
  font-size: 7vh;
  font-weight: bold;
  padding: 2vh;
  border: 2vh solid red;
  text-align: center;
  background-color: hsl(180,10%,90%);
  left: 7vw;
  width: 20vw;
}

.nam{
  position: absolute;
  font-size: 4vh;
  font-weight: bold;
  text-align: right;
  top: 7vh;
  right: 6vw;
}

.ico{
  font-size:10vh;
  position:absolute;
  top:-4vh;
  left: -4vw;
  z-index:1;
}

.line {
  border-radius: 1vh;
  box-shadow: 10px 10px 10px;
  display: grid;
  grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
  grid-gap: 1%;
  margin: 1%;
  padding: 1%;
  width: 96%;
  position: absolute;
  top: 10vh;
  z-index: 0;
  text-align: center;
}

.line > div {
  display: inline-grid;
  grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
  grid-gap: 1%;
}

.pl2 {
  left: 94vw;
  animation-name: animpodioline;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#podio {
  font-size: 14pt;
  color: black;
  text-align: center;
  background-color: lightblue;
  position: absolute;
  width: 94vw;
  height: 86vh;
  top: 7vh;
  left: 3vw;
  z-index: 3;
  opacity: 0%;
/*  animation-name: animpodio;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

#pn1 {
  position: absolute;
  width: 10%;/*30%;*/
  left: 70%;/*35%;*/
  bottom: 94vh;/*82vh;*/
  text-align: center;
  font-size: 4vh;/*10vh;*/
  z-index: 3;
}

#pn2 {
  position: absolute;
  width: 10%;/*30%;*/
  left: 80%;/*5%;*/
  bottom: 94vh;/*72vh;*/
  text-align: center;
  font-size: 4vh;/*10vh;*/
  z-index: 3;
}

#pn3 {
  position: absolute;
  width: 10%;/*30%;*/
  left: 90%;/*65%;*/
  bottom: 94vh;/*62vh;*/
  text-align: center;
  font-size: 4vh;/*10vh;*/
  z-index: 3;
}

#pp1 {
  position: absolute;
  width: 30%;
  left: 35%;
  bottom: 6vh;
  text-align: center;
  font-size: 7vh;
  z-index: 3;
  opacity: 0%;
}

#pp2 {
  position: absolute;
  width: 30%;
  left: 5%;
  bottom: 6vh;
  text-align: center;
  font-size: 7vh;
  z-index: 3;
  opacity: 0%;
}

#pp3 {
  position: absolute;
  width: 30%;
  left: 65%;
  bottom: 6vh;
  text-align: center;
  font-size: 7vh;
  z-index: 3;
  opacity: 0%;
}

#pe1 {
  position: absolute;
  width: 30%;
  left: 35%;
  bottom: 49vh;
  text-align: center;
  font-size: 30vh;
  z-index: 3;
  opacity: 0%;
}

#pe2 {
  position: absolute;
  width: 30%;
  left: 5%;
  bottom: 39vh;
  text-align: center;
  font-size: 30vh;
  z-index: 3;
  opacity: 0%;
}

#pe3 {
  position: absolute;
  width: 30%;
  left: 65%;
  bottom: 29vh;
  text-align: center;
  font-size: 30vh;
  z-index: 3;
  opacity: 0%;
}

#pt1 {
  box-sizing: border-box;
  position: absolute;
  width: 30%;
  left: 35%;
  top: 46vh;
  padding: 8vh 0;
  text-align: center;
  font-size: 15vh;
  z-index: 3;
  opacity: 0%;
}

#pt2 {
  box-sizing: border-box;
  position: absolute;
  width: 30%;
  left: 5%;
  top: 53vh;
  padding: 8vh 0;
  text-align: center;
  font-size: 15vh;
  z-index: 3;
  opacity: 0%;
}

#pt3 {
  box-sizing: border-box;
  position: absolute;
  width: 30%;
  left: 65%;
  top: 60vh;
  padding: 8vh 0;
  text-align: center;
  font-size: 15vh;
  z-index: 3;
  opacity: 0%;
}

#p1 {
  box-sizing: border-box;
  position: absolute;
  background-color: yellow;
  width: 10%;/*30%;*/
  left: 70%;/*35%;*/
  height: 7vh;/*40vh;*/
  bottom: 93vh;/*14vh;*/
  padding: 0 0;
  text-align: center;
  font-size: 15vh;
  z-index: 3;
  opacity: 70%;
}

#p2 {
  box-sizing: border-box;
  position: absolute;
  background-color: gray;
  width: 10%;/*30%;*/
  left: 80%;/*5%;*/
  height: 7vh;/*30vh;*/
  bottom: 93vh;/*14vh;*/
  padding: 0 0;
  text-align: center;
  font-size: 15vh;
  z-index: 3;
  opacity: 70%;
}

#p3 {
  box-sizing: border-box;
  position: absolute;
  background-color: brown;
  width: 10%;/*30%;*/
  left: 90%;/*65%;*/
  height: 7vh;/*20vh;*/
  bottom: 93vh;/*14vh;*/
  padding: 0 0;
  text-align: center;
  font-size: 15vh;
  z-index: 3;
  opacity: 70%;
}

tr, th, td, .cel{
  padding-top: 1vh;
  margin: 0vw;
  width: 100%;
  max-width: 100%;
  height: 11vh;
  border: none;
  background-color: hsl(180,10%,90%);
  display: inline;
  top: 0;
}

.fixup{
  background-color: darkblue;
  opacity: 70%;    
  color: white;
  font-size: 4vh;
  overflow: visible;
  position: fixed;
  top: 0vh;
  max-height: 5vh;
  height: 5vh;
  padding: 1vh;
  border: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.fixdown{
  background-color: darkblue;    
  opacity: 70%;    
  overflow: visible;
  color: white;
  font-size: 4vh;
  position: fixed;
  top: 93vh;
  max-height: 5vh;
  height: 5vh;
  padding: 1vh;
  border: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}

#ora{
  color: white;
  font-size: 4vh;
  font-family: Monospace;
  overflow: visible;
  position: fixed;
  top: 0vh;
  left: 0vw;
  max-height: 5vh;
  height: 5vh;
  padding: 1vh;
  border: 0;
  margin: 0;
  width: 30%;
  text-align: center;
  z-index: 3;  
}

#orap{
  background-color: blue;
  position: fixed;
  top: 0vh;
  left: 0vw;
  max-height: 5vh;
  height: 5vh;
  padding: 1vh;
  border: 0;
  margin: 0;
  width: 30%;
  z-index: 3;
  opacity: 70%;
}

#oraf{
  background-color: red;
  position: relative;
  top: 0vh;
  left: 0vw;
  height: 100%;
  border: 0;
  margin: 0;
  width: 0%;
  z-index: 3;
  opacity: 100%;
}

#orafin{
  box-sizing: border-box;
  color: white;
  font-size: 70vh;
  font-family: Monospace;
  overflow: visible;
  position: fixed;
  top: 7vh;
  left: 0vw;
  height: 84vh;
  padding: 3vh 0;
  border: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  z-index: 3;  
}

#orafinp{
  background-color: blue;
  position: fixed;
  top: 7vh;
  left: 0vw;
  height: 86vh;
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  z-index: 3;
  opacity: 70%;
}

#orafinf{
  background-color: red;
  position: relative;
  top: 0vh;
  left: 0vw;
  height: 100%;
  border: 0;
  margin: 0;
  width: 0%;
  z-index: 3;
  opacity: 100%;
}

.main {
  padding: 0px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0vh;
  left: 0vw;
  background-color: none;
  position: absolute;
}

#cont {
	z-index: 3;
/*  animation-name: animpodio;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

.midcol {
  top: 0vh;
  font-size: 14pt;
  color: black;
  text-align: left;
  position: absolute;
  width: 94vw;
  left: 4vw;
/*  animation-name: anim;
  animation-duration: 20s;
  animation-iteration-count: infinite; 
  animation-timing-function: linear; */
}

#login {
  background-color: darkblue;
  color: white;
  position: absolute;
  height: 30vh;
  width: 40vw;
  top: 35vh;
  left: 30vw;
  padding: 4vh;
  font-size: 7vh;
  text-align: center;
  z-index: 3;
}

#login > input {
  background-color: darkblue;
  color: white;
  font-style: mono;
  font-size: 7vh;
  width:50%;
}